<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Files</key>
	<dict>
		<key>ACPI\SSDT-AWAC-DISABLE.aml</key>
		<data>
		duj57umbgcA4TpCPhH+DlAh/Gy+lh222owVo/RzOsk8=
		</data>
		<key>ACPI\SSDT-DMAR.aml</key>
		<data>
		OQth4QLyCUEKb761xchq1Z1K7WrLaDIhdrBjZpPiFAI=
		</data>
		<key>ACPI\SSDT-EC-USBX-DESKTOP.aml</key>
		<data>
		HPlBpnZ/yV0qpcJl6C/AyU8FiFpnum+aNP5kOy8S3S4=
		</data>
		<key>ACPI\SSDT-PLUG-ALT.aml</key>
		<data>
		jTf3gzuuUPl/NbLHEY0lSwisQ03EOgGwXgjG5PwbFpA=
		</data>
		<key>ACPI\SSDT-PLUG-DRTNIA.aml</key>
		<data>
		UUqgYU7DalMt2yZ21Zlgfe3T9tSb0lCuHfRQQCN3ulY=
		</data>
		<key>Drivers\AudioDxe.efi</key>
		<data>
		4svfWxydV/nRKdmkRJ/odBQVqzmN6O5v1Hc3RJMVmvU=
		</data>
		<key>Drivers\HfsPlus.efi</key>
		<data>
		YZNfOa7Vd9ad+WYoL5P9KIamEcJm33rI8QVYttLXHXg=
		</data>
		<key>Drivers\OpenCanopy.efi</key>
		<data>
		Srgj6td02m7lynvdv8ytIz9HrlAfyEMbov+ojKe1qGk=
		</data>
		<key>Drivers\OpenRuntime.efi</key>
		<data>
		gnbztXMCBZWSEGbXOTKkRPNeiuoNxgTKIB/zvcajWEE=
		</data>
		<key>Drivers\ResetNvramEntry.efi</key>
		<data>
		rEZycqaOT/5z4kjVDO4GvUDogMrH47zpcZ86kZ+D9kg=
		</data>
		<key>Kexts\AirportItlwm.kext\Contents\Info.plist</key>
		<data>
		5qZ/x4YQOJqtMghAfYBZk1xGPQNIepu1/HpwS5Cv8Hw=
		</data>
		<key>Kexts\AirportItlwm.kext\Contents\MacOS\AirportItlwm</key>
		<data>
		xKo3TOw1xLYabPsHsSu9m1ZLTOCbQBu2Fz59G2PKy6U=
		</data>
		<key>Kexts\AppleALC.kext\Contents\Info.plist</key>
		<data>
		0u5kVFwDIqjl4pUpSQvqmDTIPBb0Qmi/5Zmw4/hHOk4=
		</data>
		<key>Kexts\AppleALC.kext\Contents\MacOS\AppleALC</key>
		<data>
		kp6WSuRrE+fyB9b8sg8Kba7lDrZxkkSYtGWMNfC44Jc=
		</data>
		<key>Kexts\AppleALCU.kext\Contents\Info.plist</key>
		<data>
		pY3Y/7iFNP7DGulYTmuheNfp5KP6WvOi9eDRfBwCy3M=
		</data>
		<key>Kexts\AppleALCU.kext\Contents\MacOS\AppleALCU</key>
		<data>
		XdhCCRfXWTYZNk3rXIqx3HHRLhJanQIveHnssJUp3KA=
		</data>
		<key>Kexts\AppleIntelI210Ethernet.kext\Contents\Info.plist</key>
		<data>
		V7lgi0I1eH+YxioUUkNEkjL6hbPxNmTRTkqZIndx0ys=
		</data>
		<key>Kexts\AppleIntelI210Ethernet.kext\Contents\MacOS\AppleIntelI210Ethernet</key>
		<data>
		oxcjAmrGQV9i2oHDfV4oHqm+cjOEY2sRjUvN2fdjB7k=
		</data>
		<key>Kexts\AppleIntelI210Ethernet.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		MtNMrGzbWE0OqmiwaisaAXnbFohS2JFtZygNdpVHsTQ=
		</data>
		<key>Kexts\AppleIntelI210Ethernet.kext\Contents\version.plist</key>
		<data>
		DPTnO1ULHrpOTxQU/e9L9KeCgfYjruoh51GdKPOQX7s=
		</data>
		<key>Kexts\BlueToolFixup.kext\Contents\Info.plist</key>
		<data>
		BYTSSM58XEplTsWdfiugwQqmIMD/cMGca0obUXlm9co=
		</data>
		<key>Kexts\BlueToolFixup.kext\Contents\MacOS\BlueToolFixup</key>
		<data>
		3jlmkb5WuAwhM/mCDU4Wgpkvku+aoaCF1meSA5KCMR4=
		</data>
		<key>Kexts\CpuTopologyRebuild.kext\Contents\Info.plist</key>
		<data>
		0Qv87+IxNtKROTyr4ZUHUupGecwl+tdfpyC7xkPy4Y0=
		</data>
		<key>Kexts\CpuTopologyRebuild.kext\Contents\MacOS\CpuTopologyRebuild</key>
		<data>
		xWTs4gGTVl97YbblUhKxgytmJqAAdq1Ba/zaNGoms7w=
		</data>
		<key>Kexts\CpuTscSync.kext\Contents\Info.plist</key>
		<data>
		ImQQLvWOJSaFQZk9AWXNGLsRNU8I+xP+YQ0Y3mHgxtY=
		</data>
		<key>Kexts\CpuTscSync.kext\Contents\MacOS\CpuTscSync</key>
		<data>
		sN/zYIkt4v+ZrTLonK9JXNkvfhZdnLQjfI79Dk7FyNw=
		</data>
		<key>Kexts\IntelBTPatcher.kext\Contents\Info.plist</key>
		<data>
		IbU5a7XzkfNJvx9U3unIKDij7Vyl5U1K2G1ll91A/mw=
		</data>
		<key>Kexts\IntelBTPatcher.kext\Contents\MacOS\IntelBTPatcher</key>
		<data>
		7bxhDuYgNoBsTkRI2Nbe4YLVzDXTMoMSaqGacK+7CvU=
		</data>
		<key>Kexts\IntelBluetoothFirmware.kext\Contents\Info.plist</key>
		<data>
		TROXJSJxY1xMYt8Jjvx18/ld09S3kv+R/w2TvST+glg=
		</data>
		<key>Kexts\IntelBluetoothFirmware.kext\Contents\MacOS\IntelBluetoothFirmware</key>
		<data>
		DndTh6MtKjHFaRGWlz4PlA8b94mpw+THKruYUnJwigw=
		</data>
		<key>Kexts\Lilu.kext\Contents\Info.plist</key>
		<data>
		nnvnIqwSR+vSXsk/0QA95a4y4YcFJblU5CfnTfaLWM0=
		</data>
		<key>Kexts\Lilu.kext\Contents\MacOS\Lilu</key>
		<data>
		Jdv7pVcD3Jjg+WIMqBJmERHLEaGl1R/KKewtPZ8tzbU=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\Info.plist</key>
		<data>
		YwOEcA5VUUgXbIcRWVbteY5fheRDUQ14J2mytBYFimo=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\MacOS\SMCProcessor</key>
		<data>
		rNZF43qISCtV3kHb2wcoax/h0k3l05Kow+K85LecsHQ=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\Info.plist</key>
		<data>
		IPNFDa2Lr26jbj0e1m+X4V+rxUVT1NdNh2I0Zjkceo0=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\MacOS\SMCSuperIO</key>
		<data>
		fYYCcb6ismS83L7PqV8bewElNrOAmWILSAwRXc/7jB8=
		</data>
		<key>Kexts\USBInjectAll.kext\Contents\Info.plist</key>
		<data>
		79DKIbo9K6ttwHJInuCsgA9ygOl8RF/jAKoTb9+JYA4=
		</data>
		<key>Kexts\USBInjectAll.kext\Contents\MacOS\USBInjectAll</key>
		<data>
		aIH/G7xZXBMt3nvxD5l5G/qcN5vAN6j8sug3pUz+2cY=
		</data>
		<key>Kexts\USBInjectAll.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		ZobeEKKKL+EbNsu4bcusyCfPxOoRa02r8YReWu5inps=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Info.plist</key>
		<data>
		4qpZi2joKTKS8buBwIW9M0Jwev1uNIjaGprVLJ2eFq4=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\MacOS\VirtualSMC</key>
		<data>
		Uht8t3UeViWaeN9paOmQbzT30qZy4AwW+7BzyQ+fEfc=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\Info.plist</key>
		<data>
		W/h5ugwIYq6CB/XtjBQ4pIgmLoon3Gu7SenLLqEHYZ4=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\MacOS\WhateverGreen</key>
		<data>
		/tjKIMszNk1X2djOO9oLecZXZqY5Led/9YrM4NR+W4A=
		</data>
		<key>Kexts\XHCI-unsupported.kext\Contents\Info.plist</key>
		<data>
		AP5cCW28NJVEJgsgVGTAaLKoHs91Qb5EEup6dS3Sz9A=
		</data>
		<key>Tools\CleanNvram.efi</key>
		<data>
		Eze418Ru844kkZF4Q8byhItFMrhqyK7evYDjIrp85VU=
		</data>
		<key>Tools\OpenShell.efi</key>
		<data>
		PjrEZ1eWWgmchQDoYsB2AtCdsd7DJ/jiHckdQeUKlsg=
		</data>
		<key>Tools\ResetSystem.efi</key>
		<data>
		zfb5foEt/meSxjSJXLjnnEVIYqYE2nTLg/uY9OWJzMY=
		</data>
		<key>config.plist</key>
		<data>
		EzCQviYOWO8p1JS49YGM1qzNHjE7KzB2hPmRCSwUvbQ=
		</data>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
